build --@rules_cuda//cuda:cuda_targets=sm_61,sm_80
build --@rules_cuda//cuda:enable_cuda
build --@rules_cuda//cuda:copts=-std=c++17
build --repo_env=CUDA_DIR=/opt/cuda
build --repo_env=CUDA_PATH=/opt/cuda
build --repo_env=CC=gcc-12
# TODO: check whether both env var are needed
build --action_env=CUDA_DIR=/opt/cuda
build --action_env=CUDA_PATH=/opt/cuda
build --action_env=CC=gcc-12
# build --python_path=/home/zekun/workspace/d4ft/.venv/bin/python

build --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build --action_env=BAZEL_LINKOPTS=-static-libgcc
build --incompatible_strict_action_env --cxxopt=-std=c++17 --host_cxxopt=-std=c++17 --client_env=BAZEL_CXXOPTS=-std=c++17

build:debug --compilation_mode=dbg -s
build:test --copt=-g0 --copt=-O3 --copt=-DNDEBUG --copt=-msse --copt=-msse2 --copt=-mmmx
build:release --copt=-g0 --copt=-O3 --copt=-DNDEBUG --copt=-msse --copt=-msse2 --copt=-mmmx

build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
build:clang-tidy --output_groups=report
